  .menu {
    padding: 0px;
    height: 900px;
    .collection {
          border: none !important;
        .collection-item {
          border-bottom: none !important;
        }
    }
  }
  .conteudo {
    height: 900px;
    background-color: #282c34;
  }
